<% content_for :submit_text, "Criar Im贸vel" %>

<div class="mb-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Im贸veis", admin_habitations_path %></li>
      <li class="breadcrumb-item active" aria-current="page">Novo Im贸vel</li>
    </ol>
  </nav>
  <h1 class="h3 mb-0 text-gray-800">Novo Im贸vel</h1>
</div>

<%= render 'form', habitation: @habitation %>
